<br>
<br>
<br>
<div  align='center' class="">
  <ul>
    <li><%= @restaurant.name %></li>
    <li><%= @restaurant.cuisine%></li>
    <li><%= @restaurant.street %>, <%= @restaurant.city %>, <%= @restaurant.state %></li>
    <li><%= @restaurant.zip %></li>
  </ul>
</div>
